--index-url https://download.pytorch.org/whl/cu118 # Keep aligned with monolith
astor
numpy
pytest
scipy
scikit-learn
tensorflow-cpu
torch==2.4.0 # Keep aligned with monolith
torchvision==0.19.0 # Keep aligned with monolith
torchaudio
pandas
matplotlib
hypothesis
expecttest
requests
transformers
diffusers
datasets
tokenizers
accelerate
safetensors
pillow
opencv-python
einops
sentencepiece
